<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LLM workshop notebook example</title>

    <script type="text/x-thebe-config">
        {
            "requestKernel": true,
            "mountActivateWidget": true,
            "mountStatusWidget": true,
            "binderOptions": {
                "repo": "indieagi/LLM_workshop_1_notebooks"
            }
        }
    </script>
    <script src="https://unpkg.com/thebe@latest/lib/index.js"></script>
</head>
<body>
    <div class="thebe-activate"></div>
    <div class="thebe-status"></div>

    <pre data-executable="true" data-language="python">print("Hello world!")</pre>
</body>
</html>